.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.image-container {
  width: 100%;
  height: 100% !important;
  > div {
    position: unset !important;
  }

  .image {
    object-fit: cover;
    width: 100% !important;

    position: relative !important;
    height: unset !important;
    max-height: 90% !important;
  }
}

ul {
  list-style: none;
}

.pricingUl > li:before {
  content: "✓";
  font-size: large;
  font-weight: 700;
  padding-right: 15px;
  color: rgb(96, 165, 250);
}
.inputForm > input:focus::placeholder {
  color: transparent !important;
}
.bgImage {
  background-image: url("../../public/images/contact.webp");
 background-size: 1200px;
}
.bgBlur {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
